<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="localDB" connectionString="Server=tcp:servidor-dbsql.database.windows.net,1433;Initial Catalog=employeedb;Persist Security Info=False;User ID='Kurt';Password='K#rt2010';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  <!--<add name="localDB" connectionString="Data Source=SLP-LP31;Initial Catalog=employeedb;Persist Security Info=True;User ID=fc_desarrollo;Password=12" />-->
</connectionStrings>